.title {
    text-align: center;
    font-family: 'Laila', sans-serif;
}

li.meaning {
    text-indent: 5%;
}
/* .card {
    background-color: pink;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    height: 175px;
    width: 125px;
    justify-content: center;
    display: grid;
} */

#card-form {
    text-align: left;
}