.title {
    text-align: center;
    font-family: 'Laila', sans-serif;
}
* {
    background-color: lightcyan;
}
#btn {
    background-color: yellow;
    color: black;
}
.delete {
    background-color: lightpink;
}
#card-list {
    color: brown;
    width: 50%;
}

#suit-div {
    cursor: pointer;
    width: 50%;

}

 #card-form {
    /* float: center; */
    width: 5555%;
} 
