.title {
    text-align: center;
    font-family: 'Laila', sans-serif;
}


/* .card-form {
    text-align: left;
} */

.suit-div {
    cursor: pointer;
    float: left;
    width: 50%;
    /* display: table; */
}

 .card-form {
    content: "";
    display: table;
    clear: both;
    /* float: left;
    width: 50%; */
} 
/* .column {
    float: left;
    width: 50%;
  } */

  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */